<div *ngIf="errorMessage; else vehicleDetail">
  <p>Something went wrong</p>
  <p>Error: {{ errorMessage }}</p>
</div>

<ng-template #vehicleDetail>
  <div class="card">
    <p><span>Nombre:</span> {{ vehicle?.name }}</p>
    <p><span>Modelo:</span> {{ vehicle?.model }}</p>
    <p><span>Proveedor:</span> {{ vehicle?.manufacturer }}</p>
    <p><span>Consumibles:</span> {{ vehicle?.consumables }}</p>
    <p><span>Clase de Vehiculo:</span> {{ vehicle?.vehicle_class }}</p>
  </div>
</ng-template>
<div class="btn-back">
  <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
</div>
